*{
    padding: 0px;
    margin: 0px;
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
}
.main{
    background-color: white;
    margin-left: 22vw;
    border-radius: 2vw;
    margin-top: 28vh;
    width: 56vw;
    height: 30vw;
    display: flex;
}
.split{
    font-size: 1.6vw;
    letter-spacing: 1vw;
    color: hsl(183, 64%, 25%);
    font-weight: bold;
    margin-top: 1vh;
}
.splitter{
    margin-top: 13vh;
    margin-left: 46.6vw;
    margin-bottom: -20vh;
}
.left{
    background-color: white;
    height: 30vw;
    width: 28vw;
    border-radius: 2vw;
}
.right{
    background-color: hsl(183, 100%, 15%);
    margin-top: 2vw;
    height: 26vw;
    width: 25vw;
    margin-left: 1vw;
    border-radius: 1vw;
    min-width: fit-content;
}
.input_money{
    margin-top: 1.5vw;
    margin-left: 2.5vw;
    background-color: white;
    width: 10vw;
}
.num_people{
    color:hsl(183, 100%, 15%);
    font-size: 0.9vw;
    letter-spacing: 0.1vw;
    background-color: white;
    margin-bottom: 0.5vw;
    margin-top: 3vw;
    width: 15vw;
    
}
.bill{
    color:hsl(183, 100%, 15%);
    font-size: 0.9vw;
    letter-spacing: 0.1vw;
    background-color: white;
    margin-bottom: 0.5vw;
    margin-top: 3vw;
}
.count{
    background-color: hsl(189, 41%, 97%);
    width: 24vw;
    border: 0px;
    height: 3vw;
    font-size: 1.6vw;
    text-align: right;
}
.count::placeholder{
    text-align: right;
    font-size: 1.6vw;
    margin-right: 1vw;
    margin-top: 3.5vw;
}
.tip{
    color:hsl(183, 100%, 15%);
    font-size: 0.9vw;
    letter-spacing: 0.1vw;
    background-color: white;
    margin-bottom: 0.5vw;
    margin-left: 2.5vw;
    margin-top: 2.5vw;
}
.botoes{
    background-color: white;
    margin-left: 1.5vw;
}
.botoes_cima{
    display: flex;  
    background-color: white;  
}
.botoes_baixo{
    display: flex;    
    background-color: white;
}
.botao{
    width: 7.1vw;
    height: 2.9vw;
    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 0.35vw;
    background-color: hsl(183, 100%, 15%);;
    border: 0px;
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.botao6{
    background-color: hsl(189, 41%, 97%);
    color:hsl(182, 54%, 27%);
}
.tip1{
    display: flex;
    background-color: rgb(0,0,0,0);
    margin-top: 3.5vw;
    margin-left: 2vw;
}
.tip2{
    display: flex;
    background-color: rgb(0,0,0,0);
    margin-top: 3.5vw;
    margin-left: 2vw;
}
.tip_text{
    background-color: rgb(0,0,0,0);
    color: white;
    font-size: 1vw;
}
.value_text1{
    background-color: rgb(0,0,0,0);
    color: hsl(175, 55%, 50%);
    margin-left: 7vw;
    font-size: 2.5vw;
    margin-top: -0.8vw;
}
.value_text2{
    background-color: rgb(0,0,0,0);
    color: hsl(175, 55%, 50%);
    margin-left: 9.18vw;
    font-size: 2.5vw;
    margin-top: -0.8vw;
}
.texto{
    background-color: rgb(0,0,0,0);
}
.tip_text2{
    background-color: rgb(0,0,0,0);
    font-size: 0.8vw;
    color: hsl(182, 24%, 49%);
}
.img{
    position: absolute;
    background-color: rgb(0,0,0,0);
    margin-top: 1vw;
    margin-left: 1vw;
}
.reset{
    margin-left: 2vw;
    width: 21vw;
    height: 3.4vw;
    border-radius: 0.5vw;
    border: 0px;
    margin-top: 7.6vw;
    font-size: 1.2vw;
    background-color: rgb(13,104,109);
    color: rgb(7, 90, 96);
}
@media screen and (min-width:300px) and (max-width:768px) {

.main{
    width: 100%;
    margin-left: 0;
    height: 200vw;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: 50vw;
}
.split{
    font-size: 5vw;
    margin-left: -5vw;

}
.splitter{
    margin-top: 10vw;
    margin-bottom: vw;
}
.input_money{
    margin-left: 0;
}
.count{
    width: 80vw;
    height: 10vw;
    margin-left: 10vw;
}
.bill{
    margin-top: 8vw;
    font-size: 4vw;
    margin-left: 10vw;
}
.count::placeholder{
    font-size: 7vw;
    position: absolute;
    margin-left: 73vw;
    margin-top: -0.3vw;
}
.img{
    margin-left: 10vw;
    margin-top: 3vw;
}



}